// Slide Hide Upwards
.a-slideUp {
  transition: all 0.8s ease;
  max-height: 0 !important;
  // animation: slideUp 0.8s ease 0.1s 1 normal forwards;
}
@keyframes slideUp {
  to {
    height: 0 !important;
  }
}
// Slide Show Downwards
.a-slideDown {
  transition: all 0.8s ease;
  max-height: unset !important;
  // animation: slideDown 0.8s ease 0.1s 1 normal forwards;
}
@keyframes slideDown {
  to {
    height: max-content !important;
  }
}
