$header-height: 60px;
$grey: #666;

/* --------------------------------- COLORS --------------------------------- */
$light: #f5f5f5;

/* --------------------------------- BORDER --------------------------------- */
$border-radius: 50rem;
$border-radius-sm: 50rem;
$border-radius-lg: 50rem;

/* ---------------------------------- FONTS --------------------------------- */
$font-weight-lighter: 200;
$font-weight-light: 200;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 700;

/* --------------------------------- BUTTON --------------------------------- */
