#hero {
  min-height: calc(100vh - #{$header-height});
  margin: 0;
  padding: 3rem 0;
  h1 {
    margin: 1.8rem 0 0 -4px;
    font-size: 3.5rem;
  }
  h2 {
    font-weight: 500 !important;
    margin: 0 0 1.8rem -2px;
  }
}
